


.weatherContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
   background: rgb(89,228,255);
background: linear-gradient(0deg, rgba(89,228,255,1) 0%, rgba(0,107,129,1) 100%);
font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding-top: 5vmin;
    padding-bottom: 20vmin;

}


.containerBG {
background-color: rgba(0, 0, 0, 0.5);
border-radius: 20px;
margin-top: 1vh;
margin-left: 1px;
margin-right: 1px;
padding: 30px 10px 10px 10px;

}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 15vh;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15vh;
}
.currentTemp {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.currentTempDesc {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vmin;
}
.minMaxTemp {
    margin-bottom: 5vmin;
    
    white-space: nowrap
}
.currentWeatherIcon {
 display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}
    



.dayAndTime {
    font-size: 2.5rem;
    margin-bottom: 5vh;
}

.default {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    
}

.fa-sun {
    color: #F5B027;
    font-size: 75px;
    padding: 10px;
}

.fa-moon {
    color: #F5F3CE;
    font-size: 75px;
    padding: 10px;
}

.fa-circle {color: #F5B027;
    font-size: 30px;
    padding: 10px;
    text-shadow: 0 0 10px #fff;

}

.fa-wind{
font-size: 30px;
    padding: 10px;
}
.fa-droplet {
    font-size: 30px;
    padding: 10px;
    color:#d4f1f9;
}


.fa-spinner {
-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 50vh;
    font-size: 25vh;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rise {
    animation: rise 5s 1 forwards;
}
@keyframes rise
{
  0% {transform: translateY(0);}
  100% { transform: translateY(-20px);}
}

.fiveDay p {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    padding: 0px;
}

.fiveDay img {
    width: 10vmin;
    height: 10vmin;
}

.white-space {
    white-space: nowrap;
}



.Footer {
  background-color: #212529;
  opacity: 1;
  color: #fff;
  margin: 0px;
  padding: 5px 0 5px 0;
}

@media screen and (max-width: 825px) {
    .currentWeatherIcon img {

        width: 15vh;
    height: 15vh;
    }
.weatherContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}}

@media screen and (min-width:825px) {
    .weatherContainer {
height: 100%;
        width: 50%;
    }
}